body {
    background-color:darkslategrey;
    font-family: "Sevillana", "cursive";
    color: white;
    font-size: 24px;
}
.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    gap: 2px;
    
}
button {
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
}

.random {
   background: linear-gradient(0.25turn, #f65cfc, #ebf8e1, #583cf6);
}

.random:hover {
    background: linear-gradient(0.25turn, #20ff02, #00FFFF , #aecc03);
}
